footer{
    width: 90rem;
    margin: 0 auto;
}
.options{
    display: flex;
    
}

.options .about-us{
    width: 11.875rem;
    text-align: left;
    margin-left: 2rem;
}
.options h2{
    font-weight: 499;
    font-size: 1.125rem;

}
ul{
    padding: 0;
}
.options ul li{
    height: 32;
    width: 100%;
    list-style-type: none;
    padding-left: 0;
    margin-right: 3.125rem;
    line-height: 2;
    margin-bottom: 0.5rem2;
    font-weight: 400;
    color: rgba(0,0,0,.58);
}

.options .careers, .social-impact, .for-bussiness-partners, .order-and-pickup{
    margin-left: 2rem;
    width: 11.875rem;
    height: 24.313rem;
    letter-spacing: 0.031rem;
}

hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.social-media {
    width: 90rem;
    margin: 0 auto;
    height: 3.15rem;
}

.social-media i{
    font-size: 220%;
    margin-right: 0.063rem;
    margin-bottom: 1rem;
    
}

.gen-info{
    display: flex;
    flex-direction: row;
    word-spacing:0.125rem;
    justify-content: center;    
    font-weight: 600;
    margin-bottom: 1.875rem;

}

.pipe{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media only screen and (max-width: 850px) {

    .options{
        flex-direction: column;;
        width: 100%;
        padding-left: 0;
    }
    .twolines{
        size: 50%;
        margin: 0 auto;
    }
    .social-media{
        flex-direction: row;
        margin: 0 auto;
        padding-left: 5rem;
        width: 50%;
        align-items: center;
    }
    footer{
        width: 100%;
        padding-left: 0;
        margin: 0 auto;
    
    }

    .options{
        margin: auto;
    }

    .gen-info div{
        text-align: center;
    }
    
}
