
.main-container{
    max-width: 90rem;
    margin: 0 auto;
}

a:link{
    text-decoration: none;
}

a{
    color: inherit;
}
sup{
    font-size: 0.625rem;
    font-weight: 600;
}
.rewards.left-right-section{
    margin-top: 2rem;
    display: flex;
    margin-bottom: 2rem;

}

.rewards.left-right-section .image{
    width: 50%;
}

.rewards.left-right-section .image img{
    width: 100%;
    
}

.rewards.left-right-section .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d4e9e2;
}

.rewards.left-right-section h1{
    margin-bottom: 0.625rem;
    font-size: 1.4rem;
}

.text h1{
    margin: 0;
    font-size: x-large;
}

.text h3{
    font-weight: 520;
}

.cta{
    padding: 0.438rem 1rem;
    border-radius: 3.125rem;
    border: 0.063rem black solid;
    font-weight:600;
    line-height: 1.2;
}

.cta:hover{
    background-color: rgba(0,0,0,.06);
    cursor: pointer;
}

.easter-basket{
    display: flex;
    margin-bottom: 2rem;
}

.easter-basket .image{
    width: 50%;
}

.easter-basket .image img{
    width: 100%;
    height: 100%;
}

.easter-basket .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6bfd9;
}

.easter-basket .text h1{
    font-size: 3.125rem;
    letter-spacing: 0.125rem;
    color : #1e3932;
    margin-bottom: 1.875rem;
}

.easter-basket .text h3{
    font-size: 1.5rem;
    font-weight: 549;
    margin: 0.063rem;
    color : #1e3932;
}

.easter-basket .text .cta1{
    margin-top: 2rem;
    padding: 0.438rem 1rem;
    border-radius: 3.125rem;
    border: 0.063rem #1e3932 solid;
    font-weight: 600 ;
    color: #1e3932;
    

}

.cta1:hover{
    background-color: rgba(0,0,0,.06);
    cursor: pointer;
}

.brighten-your-day{
    display: flex;
    margin-bottom: 2rem;
}

.brighten-your-day .image{
    width: 50%;
}

.brighten-your-day .image img{
    width: 100%;
    height: 100%;
}

.brighten-your-day .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff4d4;
    color: #1e3932;
}

.brighten-your-day .text h1{
    font-size: 3.125rem;
    letter-spacing: 0.125rem;
    margin-bottom: 1.563;
    letter-spacing: 0.125rem;
}

.brighten-your-day .text h3{
    font-size: 1.5rem;
    font-weight: 549;
    margin: 0.063rem;
}


.cta2{
    margin-top: 2rem;
    padding: 0.438rem 1rem;
    border-radius: 3.125rem;
    border: 0.063rem black solid;
    font-weight: 600;
}

.cta2:hover{
    background-color:rgba(0,0,0,.06) ;
    cursor: pointer;
}

.savory-and-satisfying{
    display: flex;
    margin-bottom: 2rem;
    background-color: #d4e9e2;
}

.savory-and-satisfying .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1e3932;

}

.savory-and-satisfying .text h1{
    font-size: 3.125rem;
    letter-spacing: 0.125rem;
}

.savory-and-satisfying .text h3{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 549;
    margin: 0.063rem;
}
.savory-and-satisfying .image{
    width: 50%;
}

.savory-and-satisfying .image img{
    width: 100%;
    height: 100%;
}

.cta3{
    margin-top: 2rem;
    padding: 0.438rem 1rem;
    border-radius: 3.125rem;
    border: 0.063rem black solid;
    font-weight: 600;
}

.cta3:hover{
    background-color:rgba(0,0,0,.06) ;
    cursor: pointer;
}

.restrictions{
    height: 5.575rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}

.license{
    height: 5.575rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}

@media only screen and (max-width: 850px){
    .rewards.left-right-section, .easter-basket, .brighten-your-day, .savory-and-satisfying{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

    }

    .rewards.left-right-section .image, .brighten-your-day .image, .easter-basket .image, .savory-and-satisfying .image{
        width: 100%;
    }

    .rewards.left-right-section .text, .easter-basket .text, .brighten-your-day .text, .savory-and-satisfying .text{
        width: 100%;
        padding-bottom: 2rem;
    }

    .easter-basket, .savory-and-satisfying{
        flex-direction: column-reverse;
    }

    .rewards.left-right-section h1, h3{
        margin: 2rem 1rem;
        text-align: center;
    }
    
    .license, .restrictions{
        text-align: center;
        align-items: center;
    }
}

