
body{
    margin: 0;
    font-family: SoDosans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: rgba(0,0,0.87);
    background-color: #fff;
}

header{
    height: 6.313rem;  
    box-shadow: 0 0.063rem 0.188rem rgba(222, 205, 205, 0.79),  0.3px 0.3px 0.5px;
    z-index: 10;
    margin: 0 auto;
    position: relative;
}       

.header-container{
    max-width: 90rem;
    margin: 0 auto;
    height: 6.313rem;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 3.188rem;
    width: 3.188rem;
}

.logo img{
    height: 100%;
    
    
}

.left-nav{
    display:flex;
    flex-direction: row;
    height: 100%;
    align-items: center;

}

.left-nav nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.left-nav nav ul li{
    text-transform: uppercase;
    padding-left: 1.5rem;
    font-weight:800;
    letter-spacing: 0.1em;
    cursor: pointer;
    margin: 0.625rem;
    font-size: small;
    
}

.left-nav nav ul li:hover{
    color: #00754a;
}

.find-store{
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
    font-weight: 600;
    height: 2rem;
}

.right-nav{
    display: flex;
    align-items: center;
    left: 0.125rem;
}

.logo1{
    padding-right: 0.5rem;
    size: 50%;
}

.sign-in, .join-now{
    padding: 0.438rem 1rem;
    border-radius: 3.125rem;
    border: 0.063rem black solid;
    font-weight: 600;
    line-height: 1.2;
}

.sign-in{
    margin-right: 1rem;
    margin-left: 2.5rem;
    letter-spacing: 0.1;
    
}

.sign-in:hover{
    background-color: rgba(0,0,0,.06);
    cursor: pointer;
}

.join-now{
    background-color: black;
    color: white;
    transition: all .2s ease;
}

.join-now:hover{
    background-color: rgba(0,0,0,.7);
    border-color: rgba(0,0,0,.7);
    cursor: pointer;
}

.find-store, .sign-in, .join-now{
    font-size: 80%;
}


.find-store i{
    font-size: 1.5rem;
    cursor: pointer;
}

.find-store :hover {
    color: #00754a;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    
    .header-container{
        flex-direction: column;
        justify-content: space-around;
        
    }
    
    .left-nav nav ul li{
        margin: 0.0625rem
        
    }

    header{
        display: flex;
        justify-content: center;
        align-items:center;
        margin: 0;
    }

    .left-nav, .right-nav{
        width: 50;
        margin: 0 auto;

    }
}
